.campo-texto {
    width: 930px;
    font-family: 'Monsterrat', 'sans-serif';
}

.campo-texto label {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 8px;
}

.campo-texto input {
    font-family: 'Montserrat', 'sans-serif';
    width: 90%;
    background-color: #FFFF;
    border: none;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    padding: 50px 20px;
    outline-color: #6278f7;
    font-size: 16px;
    box-sizing: border-box;

}