.banner__titulo{
    color: rgb(253, 253, 253);
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: rgba(0, 0, 0, 0.75) 0px 4px 4px;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__titulo{
        font-size: 3rem;
    }
    
}

@media screen and (min-width: 700px) {
    .banner__titulo{
        font-size: 5rem;
    }
    
}